staticfiles-cdn/

.DS_Store
bin/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/



# Installer logs


# Unit test / coverage reports



# Django stuff:



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/static/

/staticfiles/