
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  
  .col-md-8 {
  max-width: 800px;
  }

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}
